<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="go()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>View Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ note?.title}}
      </ion-card-title>
      <div class="note-date">{{ note?.date | date: 'longDate' }}</div>
      <hr />
      <div>{{ note?.content }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button color="danger" expand="block" (click)="deleteNote(note.createDate)">
    Delete Note
  </ion-button>
</ion-footer>